# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Environment
.env
.env.local
.env.production

# Database
config/database.yml

# Logs
log/*
tmp/log/*
!log/.keep

# Temp
tmp/*
!tmp/.keep
!tmp/pids/
!tmp/pids/.keep
!tmp/storage/
!tmp/storage/.keep

# Storage
storage/*
!storage/.keep

# Assets
app/assets/builds/*
!app/assets/builds/.keep

# Node
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Rails
public/assets
.yarn/
.yarnrc.yml

# Kamal
.kamal/secrets

#refarence
UI-Design/
