<div class="text-center py-14">
  <div class="text-4xl mb-3"><%= @icon %></div>
  <p class="text-gray-500 font-medium"><%= @title %></p>
  <% if @description %>
    <p class="text-gray-400 text-sm mt-1"><%= @description %></p>
  <% end %>
  <% if @action %>
    <div class="mt-4"><%= @action %></div>
  <% end %>
</div>
